@use './variables.scss';

.uslugeElektricneInstalacije {
    background-color: variables.$secondaryBgColor;
    .ElInstalacijeHeader {
        .tehZastitaIcon {
            width: 120px;
            height: 120px;
            color: white;
            stroke-width: 2px;
        }
    }
}

.cardComponent {
    color: variables.$secondaryTextColor;
    position: sticky;
    top: 110px !important;
    z-index: -2;
}

.elSlabeStruje {
    background-color: variables.$tertiaryBgColor;
}
.elSrednjegNapona {
    background-color: variables.$quaternaryBgColor;
}

.elniskogNapona {
    background-color: variables.$quinaryBgColor;
}

.mrezniSistemi {
    background-color: variables.$senaryBgColor;
    color: variables.$secondaryTextColor;
    z-index: -1
}