@use './variables.scss';

.headerContainerHome {
    width: 100%;
    height: 100vh;
}

.headerContainer {
    width: 100%;
    height: 65vh;
}

.headerContainer {
    width: 100%;
    height: 65vh;
}

.headerVideoHome {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 0%;
    z-index: -1;
}

.headerVideoUsluge {
    width: 100%;
    height: 65%;
    object-fit: cover;
    object-position: 0% 0%;
    z-index: -1;
}
.headerVideoKontakt {
    width: 100%;
    height: 65%;
    object-fit: cover;
    object-position: 0% 0%;
    z-index: -1;
}

.bgHeaderHome {
    width: 100%;
    height: 100vh;
    background-image: url('../../Assets/imgHeaderHome.jpg');
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    // background-color: #202020f9;
    z-index: -1;
    opacity: 0.9;
    position: relative;
    // .headerLogo {
    //     width: 500px;
        
    //     h1 {
    //         font-size: 8rem!important;
    //         font-weight: 800;
    //         letter-spacing: 1.3rem;
    //         color: #f47f4a;
    //     }
    //     p {
    //         font-size: 1.8rem;
    //         font-weight: 700;
    //         color: #05C3C9;
    //         margin-top:-20px!important;
    //     }
    // }
}

.bgHeaderUsluge {
    width: 100%;
    height: 65vh;
    background-image: url('../../Assets/imgHeaderUsluge.webp');
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    // background-color: #202020f9;
    z-index: -1;
    opacity: 0.9;
    position: relative;
}

.bgHeaderKontakt {
    width: 100%;
    height: 65vh;
    background-image: url('../../Assets/imgHeaderUsluge.webp');
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    // background-color: #202020f9;
    z-index: -1;
    opacity: 0.9;
    position: relative;
}