@use './variables.scss';

.interfoniCard {
    background-color: variables.$quinaryBgColor;
    color: variables.$secondaryTextColor;
    position: sticky !important;
    top: 110px !important;
    z-index: -1;
}