@use './variables.scss';


.contactForm {
    input, textarea {
        font-size: 1.2rem;
    }
    input::placeholder,
    textarea::placeholder {
        color: variables.$bodyTextColor;
        font-size: 1.2rem;
    }
}