@use './variables.scss';


.contactIcon {
    width: 2.5rem;
    height: 2.5rem;
    color: variables.$contactIconColor;
}

.contactPhone {
    h5 {
        font-size: 2.5rem;
    }

    .contactLink {
        color: variables.$bodyTextColor;
        text-decoration: none;
        &:hover, &:focus {
            color:variables.$contactIconColor;
        }
    }
    
}

.contactForm {
    input, textarea {
        font-size: 1.2rem;
    }
    input::placeholder,
    textarea::placeholder {
        color: variables.$bodyTextColor;
        font-size: 1.2rem;
    }
}