@use './variables.scss';

.mainNav {
    background-color: variables.$navBgColor;
    top: 0;
    transition: transform 0.3s ease;

    .logoContainer {
        width: 250px;
        height: 90px;
        border-radius: 10px;
        .logo {
            width: 190px;
        }
    }

    

    .menuItem {
        font-size: 1.5rem !important;
        font-weight: 600;
        padding: 20px 30px;
        text-transform: uppercase;

        .menuLink:hover {
            color: variables.$hoverColor !important;
        }
        
        .menuLink:focus:not(.active) {
            color: variables.$hoverColor !important;
        }
        .active {
            color: variables.$activeClass!important;
        }

        
    }

    .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
    }

    .hamburgerIcon {
        color: variables.$bodyTextColor !important;

    }
}




 @media only screen and (max-width: 576px) {
    .mainNav {
        .logoContainer {
            width: 160px;
            .logo {
                width: 100%;
            }
        }
    }
 }