@use './variables.scss';

.mainNav {
    background-color: variables.$navBgColor;
    top: 0;
    transition: transform 0.3s ease;

    .logoContainer {
        // background-color: #ffffff58;
        width: 250px;
        height: 90px;
        border-radius: 10px;
        .logo {
            width: 190px;
        }
    }

    

    .menuItem {
        font-size: 1.5rem !important;
        font-weight: 600;
        padding: 20px 30px;
        text-transform: uppercase;

        .menuLink:hover {
            color: variables.$hoverColor !important;
        }

        .active {
            color: variables.$activeClass!important;
        }
    }

    .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
    }

    .hamburgerIcon {
        color: variables.$bodyTextColor !important;

    }
}

 .mainNav.hide {
     transform: translateY(-100%);
 }

 .mainNav.show {
     transform: translateY(0);
 }
 