@use './variables.scss';

.uslugeHome {
    background-color: variables.$secondaryBgColor;
}
.uslugeHomeCard {
    width: 350px;

     .elInstalationIcon {
         width: 120px;
         height: 120px;
         color: white;
         stroke-width: 2px;
     }
}

// MEDIA QUERIES

@media only screen and (max-width: 1200px) {
    .uslugeHomeCard {
        width: 300px;
    }
}

@media only screen and (max-width: 992px) {
    .uslugeHomeCard {
        width: 290px;

        .uslugeHomeCardBody {
            .uslugeHomeCardBodyTxt {
                font-size: 1rem;
            }
        }
    }
}
   
