@use './variables.scss';


.uslugeTehZastita {
    background-color: variables.$secondaryBgColor;
    .tehZastitaHeader {
        .tehZastitaIcon {
            width: 120px;
            height: 120px;
            color: white;
            stroke-width: 2px;
        }
    }
}

.alarmniSistemiCard,
.videoNadzorCard,
.interfoniCard,
.cardComponent {
    color: variables.$secondaryTextColor;
    position: sticky !important;
    top: 110px !important;
    z-index: -2;
}

.alarmniSistemiCard {
    background-color: variables.$tertiaryBgColor;
}

.videoNadzorCard {
    background-color: variables.$quaternaryBgColor;
}

.interfoniCard {
    background-color: variables.$quinaryBgColor;
}

.daljinskoOtvaranjeCard {
    background-color: variables.$senaryBgColor;
    color: variables.$secondaryTextColor;
    z-index: -1;
}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {
    .tehZastitaContainer {
        h4, h5 {
            font-size: 1.8rem!important;
        }
        p {
            font-size: 1.2rem!important;
        }
    }
}

@media only screen and (max-width: 490px) {
    .tehZastitaContainer {
        h4, h5 {
            font-size: 1.5rem!important;
            margin-bottom: 2rem!important;
        }
        p {
            font-size: 1.1rem!important;
            margin-bottom: 0.3rem!important;
        }
    }
}

@media only screen and (max-width: 360px) {
    .tehZastitaContainer {
        h4, h5 {
            font-size: 1.1rem !important;
        }
        p {
            font-size: 0.9rem !important;
        }
    }
}

 