@use './variables.scss';


.uslugeTehZastita {
    background-color: variables.$secondaryBgColor;
    .tehZastitaHeader {
        .tehZastitaIcon {
            width: 120px;
            height: 120px;
            color: white;
            stroke-width: 2px;
        }
    }
}

 