@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


// COLORS 
$bodyBgColor: #191919;
$bodyTextColor: #f9f9f9;
$secondaryBgColor: #252525;
$footerBgColor: #232323;


$font-family-sans-serif: 'Roboto', sans-serif;