@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


// COLORS 
$bodyBgColor: #191919;
$bodyTextColor: #f9f9f9;
$secondaryTextColor: #191919;
$tertiaryTextColor: #f47f4a;
$secondaryBgColor: #252525;
$tertiaryBgColor: #eeeeee; 
$quaternaryBgColor: #84ffff;
$quinaryBgColor: #83b0f3;
$senaryBgColor: #ffffff;
$footerBgColor: #232323;
$navBgColor: #1a1a1abe;
$modelCarouselBgColor:#252525cc;
$activeClass: #f47f4a;
$navLogoBg: #f4804a9b;
$hoverColor: #1586B8;
$carouselBtnBgColor : #eeeeeeb8;
$submitBtnBgColor: #1586B8;
$contactIconColor: #0D6EFD;

//FONTS
$font-primary: "Roboto", sans-serif;